<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum</title>
</head>
<body>
<div id="toprow">
	<a href="/"><h1>SITENAME</h1></a>
	<a href="/login">Login/Logout</a>
</div>


<ul>
	<li><a href="/top">Top</a></li>
	<li><a href="/new">New</a></li>
	<!--li><a href="/cats">Categories</a></li>
	<li><a href="/unread">Unread</a></li -->
</ul>

<a href="/post">Write a new TOPIC</a>

<table style="width:100%">
	<tr>
		<th>Title</th>
		<th>Category</th>
		<th>Last Activity</th>
		<th>Author</th>
		<th>Replies</th>
		<th>Views</th>
	</tr>
	{% for topic in topics %}
	<tr>
		<td><a href="/topic/{{ topic.id }}"><b>{{ topic.title }}</b></a></td>
		<td><a href="/cat/{{ topic.category }}">{{ topic.category }}</a></td>
		<td>{{ topic.lastActivity }}</td>
		<td>{{ topic.author }}</td>
		<td>{{ topic.repliesNum }}</td>
		<td>{{ topic.views }}</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>
