<!-- {% extends "base.html" %} -->

<!-- {% block content %} -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
	
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Table #9</title>
  </head>
  <body>
<div id="toprow">
      <a href="/"><h1>SITENAME</h1></a>
      <a href="/login">Login/Logout</a>
</div>
<ul>
	<li><a href="/top">Top</a></li>
	<li><a href="/new">New</a></li>
	<!--li><a href="/cats">Categories</a></li>
	<li><a href="/unread">Unread</a></li -->
</ul>

<a href="/post">Write a new topic</a>
<div class="content">
    
    <div class="container">
      <h2 class="mb-5">Table #9</h2>

      <div class="table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Last Activity</th>
              <th scope="col">Author</th>
			  <th scope="col">Replies</th>
			  <th scope="col">Views</th>
            </tr>
          </thead>
		<tbody>
	{% for topic in topics %}
	<tr>
		<td><a href="/topic/{{ topic.id }}"><b>{{ topic.title }}</b></a></td>
		<td><a href="/cat/{{ topic.category }}">{{ topic.category }}</a></td>
		<td>{{ topic.lastActivity }}</td>
		<td>{{ topic.author }}</td>
		<td>{{ topic.repliesNum }}</td>
		<td>{{ topic.views }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</div>
</div>
</body>
</html>
<!-- {% endblock %} -->
